<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>WeatherApp</h1>
        <h2>Test Task</h2>
        <div id="input-bar">
            <form method="post" name="searchbar" id="weatherForm">
                <div>
                    <label for="searchbar">Enter a city you'd like to know the forecast for:</label>
                    <input type="text" id="searchbar" placeholder="Enter a city..." name="form-input-field">
                </div>
                <div id="search-btn">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
        <div id="weatherResult" class="grid">
            <div id="name" class="grid-item"></div>
            <div id="current" class="grid-item"></div>
            <div id="forecast" class="grid-item"></div>
        </div>
    </div>
    <script src="static/app.js"></script>
</body>
</html>